@sidebarwidth: 300px;
@sidebarcollapsed: 80px;

html, body, .page-wrapper, #react-root {
  height: 100%;
}

.sidebar {
  position: fixed;
  float: left;
  background-color: #ff1a00;
  width: @sidebarwidth;
  height: 100%;
  padding: 25px;
  margin-left: -@sidebarwidth;
  transition: all 1s ease;
  &.sidebar.collapsed {
    width: @sidebarcollapsed;
    margin-left: -@sidebarcollapsed;
  }
}


.page-wrapper {
  padding-left: @sidebarwidth;
  &.page-wrapper.collapsed {
    padding-left: @sidebarcollapsed;
  }
  transition: all 1s ease;
}
       
