@sidebarwidth: 300px;
@sidebarcollapsed: 80px;

html, body, .page-wrapper, #react-root {
  height: 100%;
}

@sidebarcolor: #5dba9b;
.sidebar {
  position: fixed;
  z-index: 1000;
  float: left;
  background-color: @sidebarcolor;
  width: @sidebarwidth;
  height: 100%;
  padding: 25px;
  margin-left: -@sidebarwidth;
  transition: all 1s ease;
  border-right-style: solid;
  border-right-color: darken(@sidebarcolor, 10%);
  border-right-width: 4px;
  &.sidebar.collapsed {
    width: @sidebarcollapsed;
    margin-left: -@sidebarcollapsed;
  }
}

.sidebar > div.bottom {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  color: darken(@sidebarcolor, 10%);
}

.page-wrapper {
  padding-left: @sidebarwidth;
  &.page-wrapper.collapsed {
    padding-left: @sidebarcollapsed;
  }
  transition: all 1s ease;
}

.loading-bar {
  text-align: center;
  margin-top: 15px;
}
